body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/tweed.png');
}

footer {
  position: absolute;
  bottom:0px;
  width:100%;
}

canvas {
  background-color: white;
}

a {
  color: #00B7FF;
}

#sidebar {
  float: left;
  max-width: 140px;
  border-right 2px dotted gray;
}

#content {
  float: left;
  max-width: calc(100% - 142px);
}

.row:after {
  clear:both;
}

