body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/tweed.png');
}

footer {
  text-align: center;
  width:100%;
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.row {
  background-color: #FCFEFF;
}
