<h1>Leap/Firebase/Ember Mashup</h1>
{{outlet}}
<footer>background image <a href="http://subtlepatterns.com/tweed/">tweed</a> courtesy Simon Leo by way of <a href="http://subtlepatterns.com/">subtlepatterns.com</a>.</footer>
