<div class="row border-bottom">
  <div class="large-10 large-offset-2 columns">
  <h1>Leap/Firebase/Ember Mashup</h1>
  </div>
</div>
{{outlet}}
<div class="row">
  <footer>background image <a href="http://subtlepatterns.com/tweed/">tweed</a> courtesy Simon Leo by way of <a href="http://subtlepatterns.com/">subtlepatterns.com</a>.</footer>
</div>
