<div class="row">
<div id='sidebar' class='large-2 columns'>
Got a Leap?
<div>
  <button class="button tiny" {{action 'start'}}>Start Broadcasting</button>
</div>

Channels
<ul>
{{#each}}
 <li>
   {{#link-to 'channels.watch' id}}{{name}}{{/link-to}}
 </li>
{{/each}}
</ul>
</div>

<div id="content" class="large-10 columns border-left">
{{outlet}}
</div>
</div>
