<div class="row">
<div id='sidebar'>
Got a Leap?
<div>
  <button {{action 'start'}}>Start Broadcasting</button>
</div>

Channels
<ul>
{{#each}}
 <li>
   <span>{{name}}</span>
   {{#link-to 'channels.broadcast' id}}broadcast{{/link-to}}
   |
   {{#link-to 'channels.watch' id}}just watch{{/link-to}}
 </li>
{{/each}}
</ul>
</div>

<div id="content">
{{outlet}}
</div>
</div>
