<ul>
{{#each}}
 <li>
   <span>{{name}}</span>
   {{#link-to 'broadcast' id}}broadcast{{/link-to}}
   |
   {{#link-to 'watch' id}}just watch{{/link-to}}
 </li>
{{/each}}
</ul>


Got a Leap?
<div>
  <button {{action 'start'}}>Start Broadcasting</button>
</div>
